@font-face {
    font-family: 'Mona Sans';
    src:
        url('/assets/download/font.woff2') format('woff2 supports variations'),
        url('/assets/download/font.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

@font-face {
    font-family: 'Hubot Sans';
    src:
        url('/assets/download/font.woff2') format('woff2 supports variations'),
        url('/assets/download/font.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}
html * {
    line-height: 1;
    font-family: 'Mona Sans', 'Hubot Sans';
    color: #ffffff;
}
body {
    background-color: #121212;
    background-image: url('https://github.com/?raw=true');
    background-repeat: no-repeat;
}
.action-bar {
    background-color: #333;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
}
.upload_button {
    background-color: #333;
    border-radius: 10px;
    max-width: 220px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    margin: auto;
}
.select-box {
    background-color: #333;
    border-radius: 10px;
    max-width: 220px;
    padding: 10px;
    padding-top: 0px;
    margin: auto;
    margin-bottom: 10px;
}
.center {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16%;
}
.upbutton {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.action-bar a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
.action-bar a:hover {
    text-decoration: underline;
}
.logo {
    height: 40px;
    border-radius: 50%;
    display: flex;
}
.big-header {
    font-family: 'Hubot Sans';
    font-size: 72px;
    text-align: center;
    margin-top: 50px;
}
.sub-header {
    font-family: 'Hubot Sans';
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
}
.sub-sub-header {
    font-family: 'Hubot Sans';
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}
.sub-sub-sub-header {
    font-family: 'Hubot Sans';
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}
::selection {
    background: gray;
    color: white;
}
.body-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.text-center {
    padding-top: 4px;
    text-align: center;
}